{%- namespace 'fields' -%}
{% for tab in tabs %}
    {% set fieldset = craft.fb.getTabSettings(tab.id) %}
    {% set tabId = fieldset.id is defined ? fieldset.id : null %}

    {% set tabClass = [
        fieldset.class is defined ? fieldset.class : null
    ]|filter|join(' ') %}

    <div class="{{ tab.name | camel(tab.name) }} {{ tabClass }}" {% if tabId %}id="{{ tabId }}"{% endif %}>
        {%- set fields = tab.getFields() %}
        {% for field in fields -%}
            {%- if field -%}
                {% set hasCustomInput = craft.fb.checkInputTemplate(field.id, form.id) %}

                {% if hasCustomInput %}
                    {# Custom Template #}
                    {%- set value  = (entry ? entry.getFieldValue(field.handle) : field.normalizeValue(null)) %}
                    {%- set input = craft.fb.getCustomInputHtml(value, entry, field, form) %}

                    {{ input |raw }}

                {% else %}
                    {% include "form-builder/frontend/field" with {
                        form:       form,
                        field:      field,
                        required:   field.required,
                        element:    entry,
                        options:    options,
                        static:     null,
                    } only %}
                {% endif %}
            {%- endif %}

        {% endfor %}
    </div>
{% endfor %}
{%- endnamespace -%}
