{% for entry in entries %}
    {% set postDate = entry.dateCreated|date(("Y-m-d")) |timeAgo(entry.dateCreated|date("Y-m-d")) %}

    <a href="{{ entry.url }}" class="item">
        <div class="item-title">{{ entry.title }}</div>
        <div class="item-meta">
            <div class="item-form"><i class="fas fa-list"></i><span>{{ entry.getForm() }}</span></div>
            <div class="item-date">{{ postDate }} ago</div>
        </div>
    </a>
{% endfor %}