{% set id = (id ?? 'date'~random())~'-date' -%}
{% set name = name ?? null -%}
{% set value = value ?? null -%}

{% if field.showDate %}
    <div class="datewrapper">
            <input type="date"
                name="{{ name }}[date]"
                value="{{ value ? value|date('Y-m-d') : '' }}"
                placeholder=" "
                autocomplete="off"
                {%- if field.required is defined and field.required %} required {% endif %}
                size="10">

        <div data-icon="date"></div>
    </div>
{% endif %}

{% if field.showTime %}
    <div class="timewrapper">
            <input type="time"
               name="{{ name }}[time]"
               value="{{ value ? value|time('H:i:s') : '' }}"
               placeholder=" "
               autocomplete="off"
               {%- if field.required is defined and field.required %} required {% endif %}
               size="10">

        <div data-icon="time"></div>
    </div>
{% endif %}

<input type="hidden" name="{{ name }}[timezone]" value="{{ craft.app.getTimeZone() }}">
