{% set id = (id ?? 'date'~random())~'-date' -%}
{% set name = name ?? null -%}
{% set value = value ?? null -%}

<div class="datewrapper"
        {%- if block('attr') is defined %} {{ block('attr') }}{% endif %}>

        <input type="{{ type }}"
            name="{{ name ? name~'[date]' }}"
            value="{{ value ? value|date('short') : '' }}"
            placeholder=" "
            autocomplete="off"
            size="10">

    <div data-icon="date"></div>
    {% if name -%}
        <input type="hidden" name="{{ name }}[timezone]" value="{{ craft.app.getTimeZone() }}">
    {%- endif -%}
</div>