/* ============================================ *
 * Form Builder
 * Date: 1.29.2018
 * ============================================ */
.integration-hud {
  width: 380px;
}
.integration-hud .main {
  padding: 0;
}
.integration-hud .main hr {
  padding: 0;
  margin: 0;
}
.integration-hud .item-meta-icon {
  width: 25px;
  height: 25px;
}
.integration-hud .item-meta-icon svg {
  width: 100%;
  height: 100%;
}
.integration-hud .integration-add-link {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 24px;
}
.integration-hud .integration-add-link:hover {
  background: #e4edf6;
}
.integration-hud .tout-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-right: 20px;
}
.integration-hud .type-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.formbuilder.fb-edit-form .integrations .titlebar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.formbuilder.fb-edit-form .integrations .titlebar .tout-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 25px;
}
.formbuilder.fb-edit-form .integrations .titlebar .type-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.formbuilder.fb-edit-form .integrations .titlebar .delete-btn {
  color: #E12D39;
}
.formbuilder.fb-edit-form .integrations header {
  margin-bottom: 0;
  border-bottom: none;
}
.formbuilder.fb-edit-form .integrations .add-integrations-item {
  display: inline-block;
  margin-top: 20px;
}
.formbuilder.fb-edit-form .integrations .integration-body {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.formbuilder.fb-edit-form .integrations .integration-body #formbuilder-integrations-container {
  width: 100%;
}
.formbuilder.fb-edit-form .integrations .integration-body .cmp-tout-alt {
  margin-top: 25px;
}
.formbuilder.fb-edit-form .integrations .integration-body .cmp-tout-alt:first-child {
  margin-top: 0;
}
.formbuilder.fb-edit-form .integrations .integrate-options {
  width: 300px;
  margin-right: 40px;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e4edf6;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: rgba(228, 237, 246, 0.3);
}
.formbuilder.fb-edit-form .integrations .integrations-list .item:last-child {
  border-bottom: 0;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item:hover {
  background: #e4edf6;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-meta {
  margin-right: 10px;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-info {
  display: flex;
  align-items: center;
  width: 100%;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-info a {
  display: block;
  margin-left: auto;
  padding: 10px;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-meta-title {
  font-weight: 600;
  font-size: 12px;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-meta-icon {
  width: 25px;
  height: 25px;
}
.formbuilder.fb-edit-form .integrations .integrations-list .item-meta-icon svg {
  width: 100%;
  height: 100%;
}

.formbuilder.fb-entries .chart-explorer-container {
  position: relative;
  height: 130px;
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 25px;
}
.formbuilder.fb-entries .chart-explorer-container .chart-explorer {
  background-color: white;
  height: 100%;
  padding-bottom: 80px;
  border-radius: 5px;
}
.formbuilder.fb-entries .chart-explorer-container .chart-container {
  padding: 0 20px;
}
.formbuilder.fb-entries .chart-explorer-container .chart-container, .formbuilder.fb-entries .chart-explorer-container .chart {
  height: 130px;
}
.formbuilder.fb-entries .chart-explorer-container .chart-header {
  display: flex;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}
.formbuilder.fb-entries .chart-explorer-container .chart-header .date-range {
  margin-left: auto;
}
.formbuilder.fb-entries .chart-explorer-container .chart-header .date-range .to {
  padding: 0 10px;
  color: #9aa5b1;
}
.formbuilder.fb-entries .chart-explorer-container .datewrapper {
  background: none;
}
.formbuilder.fb-entries .chart-explorer-container .datewrapper input {
  border: none;
  color: #9aa5b1;
  text-align: center;
}
.formbuilder.fb-entries .chart-explorer-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
.formbuilder.fb-entries .chart-explorer-container .total {
  display: flex;
  font-size: 12px;
  color: #9aa5b1;
  text-transform: uppercase;
}
.formbuilder.fb-entries .chart-explorer-container .total p {
  color: #9aa5b1 !important;
  letter-spacing: 0.1em;
}
.formbuilder.fb-entries .chart-explorer-container .total .total-value-wrapper {
  margin-right: 5px;
  letter-spacing: 0.1em;
}

#widget-recent-submissions-chart-widget .chart {
  position: relative;
  height: 130px;
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 25px;
}

.formbuilder.fb-integrations .add-integration .menu-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.formbuilder.fb-integrations .available-integrations-list {
  display: flex;
  align-items: center;
}
.formbuilder.fb-integrations .available-integrations-list .item-meta-icon {
  display: flex;
  margin: auto;
}
.formbuilder.fb-integrations .available-integrations-list .item-meta {
  width: 60px;
  height: 60px;
}
.formbuilder.fb-integrations .available-integrations-list .item-info {
  text-align: center;
}
.formbuilder.fb-integrations .available-integrations-list svg {
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.formbuilder.fb-integrations .available-integrations-list a {
  border-radius: 5px;
  transition: all 0.3s ease;
  background: rgba(228, 237, 246, 0.3);
}
.formbuilder.fb-integrations .available-integrations-list a:hover {
  background: #e4edf6;
}
.formbuilder.fb-integrations .available-integrations-list a:hover svg {
  padding: 9px;
}
.formbuilder.fb-integrations .integrations-list .item, .formbuilder.fb-integrations .current-integrations-list .item {
  display: flex;
  align-items: center;
}
.formbuilder.fb-integrations .integrations-list .item-meta, .formbuilder.fb-integrations .current-integrations-list .item-meta {
  margin-right: 20px;
  margin-bottom: 0;
}
.formbuilder.fb-integrations .integrations-list .item-info, .formbuilder.fb-integrations .current-integrations-list .item-info {
  width: 100%;
}
.formbuilder.fb-integrations .integrations-list .item-info a, .formbuilder.fb-integrations .current-integrations-list .item-info a {
  display: inline-block;
}
.formbuilder.fb-integrations .integrations-list .item-meta-title, .formbuilder.fb-integrations .current-integrations-list .item-meta-title {
  color: #333333;
  font-weight: 600;
  margin-bottom: 7px;
}
.formbuilder.fb-integrations .current-integrations-list .item {
  position: relative;
  transition: all 0.3s ease;
  border-bottom: 1px solid #e4edf6;
  overflow: hidden;
}
.formbuilder.fb-integrations .current-integrations-list .item:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.formbuilder.fb-integrations .current-integrations-list .item:hover .item-info .coded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.formbuilder.fb-integrations .current-integrations-list .item:hover .item-meta-title {
  transform: translate3d(0, 0, 0);
}
.formbuilder.fb-integrations .current-integrations-list .item:hover .item-remove {
  transform: translateX(0);
  transition-delay: 0.4s;
}
.formbuilder.fb-integrations .current-integrations-list .item:hover .item-remove:hover {
  transition-delay: 0s !important;
}
.formbuilder.fb-integrations .current-integrations-list .item-info .coded {
  font-size: 12px;
  opacity: 0.001;
  color: #9aa5b1;
  transform: translate3d(0, 8px, 0);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
}
.formbuilder.fb-integrations .current-integrations-list .item-meta-icon {
  width: 35px;
}
.formbuilder.fb-integrations .current-integrations-list .item-meta-icon svg {
  width: 100%;
  height: 100%;
}
.formbuilder.fb-integrations .current-integrations-list .item-meta-title {
  margin-bottom: 0;
  transform: translate3d(0, 8px, 0);
  transition: transform 0.4s ease-in-out;
}
.formbuilder.fb-integrations .current-integrations-list .item-meta-title a {
  color: #9aa5b1;
  transition: color 0.3s ease;
}
.formbuilder.fb-integrations .current-integrations-list .item-meta-title a:hover {
  color: #2BB0ED;
}
.formbuilder.fb-integrations .current-integrations-list .item-remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E12D39;
  color: white;
  cursor: pointer;
  transform: translateX(50px);
  transition: transform 0.3s cubic-bezier(0.87, 0.24, 0.25, 1), background 0.5s ease;
}
.formbuilder.fb-integrations .current-integrations-list .item-remove:hover {
  background: rgba(225, 45, 57, 0.7);
}

.formbuilder.fb-edit-integration .delete-form-meta, .formbuilder.fb-edit-integration .save-form-meta {
  box-shadow: none;
  border: none;
}
.formbuilder.fb-edit-integration .delete-form-meta .delete-form, .formbuilder.fb-edit-integration .delete-form-meta .save-form, .formbuilder.fb-edit-integration .save-form-meta .delete-form, .formbuilder.fb-edit-integration .save-form-meta .save-form {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.formbuilder.fb-edit-integration .settings-list .list-item {
  padding: 0;
  border-bottom: 0;
}
.formbuilder.fb-edit-integration .settings-list .list-item .fb-field:last-child {
  margin-bottom: 0;
}
.formbuilder.fb-edit-integration .widget .body {
  padding: 25px;
}
.formbuilder.fb-edit-integration .widget .fb-field {
  margin-bottom: 15px;
}

.widget.last .pane {
  padding-bottom: 0;
}
.widget.last .pane .body:after {
  display: none;
}

.list .list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  transition: all 0.3s ease;
}
.list .list-item.has-hover:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.list .list-item.element-actions {
  display: flex;
  padding: 0;
}
.list .list-item.element-actions button, .list .list-item.element-actions a {
  align-self: center;
  width: 100%;
  display: inline-block;
  border-radius: 0;
}
.list .list-item.element-actions span {
  text-align: center;
}
.list .list-item.element-actions .asset-count {
  padding-left: 7px;
}
.list .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list .item-asset {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 48%;
  transition: border 0.3s ease;
}
.list .item-asset .asset-thumbnail {
  max-width: 80px;
}
.list .item-asset .asset-thumbnail img {
  width: 100%;
}
.list .item-asset .asset-description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list .item-asset .asset-description .download-asset {
  position: absolute;
  top: 10px;
  right: 10px;
}
.list .item-asset .asset-description .asset-select {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.list .item-asset .asset-description .asset-title {
  padding-right: 20px;
}
.list .item-asset .pad {
  padding: 10px;
}
.list .item-meta {
  display: flex;
  margin-bottom: 3px;
}
.list .item-meta .item-meta-icon {
  margin-right: 5px;
  font-weight: 600;
}
.list .item-meta span {
  font-size: 10px;
}
.list .item-meta .item-meta-title {
  color: #333333;
  font-weight: 600;
}
.list .item-meta .item-meta-right, .list .item-meta .item-meta-right a {
  margin-left: auto;
}

.field-options-preview {
  position: relative;
}
.field-options-preview > div {
  font-size: 10px;
  color: black;
  line-height: 1.2;
}
.field-options-preview .preview-type {
  color: gray;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
}
.field-options-preview .preview-type:after {
  content: "" !important;
  margin: 0 !important;
}

.formbuilder .tab-content {
  padding: 14px;
  border-radius: 0 4px 4px 4px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 2px 5px -2px rgba(31, 41, 51, 0.2);
}
.formbuilder .tabs .tab-toggle {
  padding: 8px 14px;
}
.formbuilder .tabs .tab {
  padding: 0;
}
.formbuilder .tabs .tab:hover:not(.sel) {
  background: #e4eef6;
}
.formbuilder .tabs .tab span {
  padding: 8px 14px;
}
.formbuilder .tabs .tab:not(.sel) {
  background: rgba(228, 238, 246, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
}
.formbuilder .tabs .tab a {
  padding: 8px 14px;
  color: inherit;
  text-decoration: none;
}
